.cart_section {
    position: sticky;
    top: 0;
}
.single_product {
    background-color: #f1efff;
    align-items: center;
    border: 2px solid #f3f1ff;
    margin: 15px;
    border-radius: 10px;
}
.image_area {
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}
.info {
    padding-left: 35px;
    padding: 5px;
}
