.product_section_bg {
    background-color: #f3f1ff;
}
.product_image {
    height: 220px;
    width: auto;
    border-radius: 5px;
}
.cart_area {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
